.root {
    --orange: #FE6600;
}

.navbar {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.tab {
    font-weight: 500;
}

.tab, .tab:hover {
    font-family: 'Avenir', sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #525252;
    margin: 0 20px;
}

.tab:hover {
    font-weight: 900;
}

@media (min-width: 1200px) {
    .selected {
        border-bottom: 2px solid var(--orange);
        color: var(--orange);
        font-weight: 700;
    }
    
    .selected:hover {
        border-bottom: 2px solid var(--orange);
        color: var(--orange);
        font-weight: 900;
    }
}